### Helm ###
# Chart dependencies
**/charts/*.tgz

# Chart releaser
.cr-release-packages
.cr-index
.pages

# IDE's
/.vscode/
/.idea/
.history/
*.vsix
.history
.ionide

# Agents
.opencode/
/docs/superpowers/

# env files
.env
