### Helm ###
# Chart dependencies
**/charts/*.tgz

# Chart releaser
.cr-release-packages
.cr-index
.pages

# IDE's
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea/
.history/
*.vsix
.history
.ionide

# Agents
.opencode/
docs/superpowers/

# env files
.env
